<include file='Public/header' />
<section class="per-menu" style="margin-top: 0.2rem;">
    <a href="">
        <img src="__PUBLIC__/Home/img/qq.png" class="per-menu-img" style="width: 0.8rem;height: 0.8rem;" />QQ账户
        <span class="per-menu-text" style="color: #69a7dc;">立即绑定</span>
        <img src="__PUBLIC__/Home/img/leftjt.png" class="per-menu-jt" />
    </a>
    <a href="">
        <img src="__PUBLIC__/Home/img/wx.png" class="per-menu-img" style="width: 0.8rem;height: 0.8rem;" />微信账户
        <span class="per-menu-text" style="color: #7B7B7B;">已绑定</span>
        <img src="__PUBLIC__/Home/img/leftjt.png" class="per-menu-jt" />
    </a>
    <a href="">
        <img src="__PUBLIC__/Home/img/xl.png" class="per-menu-img" style="width: 0.8rem;height: 0.8rem;" />新浪账户
        <span class="per-menu-text" style="color: #69a7dc;">立即绑定</span>
        <img src="__PUBLIC__/Home/img/leftjt.png" class="per-menu-jt" />
    </a>
</section>
<include file="Public/footer" />
<script type="text/javascript" src="/Public/Home/js/zepto.min.js"></script>
</body>

</html>
