<include file='Public/header' />
<section class="per-menu" style="margin-top: 0.2rem;">
    <a href="{:U('update_data')}">
				个人资料
				<img src="__PUBLIC__/Home/img/leftjt.png" class="per-menu-jt"/>
			</a>
    <a href="{:U('account_set_site')}">
				收货地址
				<img src="__PUBLIC__/Home/img/leftjt.png" class="per-menu-jt"/>
			</a>
    <!-- <a href="{:U('#')}"> -->
    <a href="javascript:alert('暂时未开放')">
				绑定银行卡
				<img src="__PUBLIC__/Home/img/leftjt.png" class="per-menu-jt"/>
			</a>
</section>
<section class="per-menu" style="margin-top: 0.2rem;">
    <a href="{:U('account_binding')}">
				账户绑定
				<img src="__PUBLIC__/Home/img/leftjt.png" class="per-menu-jt"/>
			</a>
    <a href="{:U('update_pass')}">
				修改密码
				<img src="__PUBLIC__/Home/img/leftjt.png" class="per-menu-jt"/>
			</a>
</section>
<include file="Public/footer" />
<script type="text/javascript" src="/Public/Home/js/zepto.min.js"></script>
</body>

</html>
