<include file='Public/header' />
<section>
    <div class="acc-nav clearfix">
        <span><a href="" class="acc-nav-on">账户记录</a></span>
        <span><a href="">收益记录</a></span>
    </div>
    <div class="wit-ktj">
        可提现金额：<span>200</span>元
    </div>
    <div class="acc-text">
        <ul>
            <li>
                <div class="acc-box">
                    <h4>充值</h4>
                    <p>2016-08-10</p>
                    <span class="acc-right-text">
									<b>+20.00</b>
							</span>
                </div>
            </li>
            <li>
                <div class="acc-box">
                    <h4>提现</h4>
                    <p>2016-08-10</p>
                    <span class="acc-right-text">
									-20.00
							</span>
                </div>
            </li>
            <li>
                <div class="acc-box">
                    <h4>充值</h4>
                    <p>2016-08-10</p>
                    <span class="acc-right-text">
									<b>+20.00</b>
							</span>
                </div>
            </li>
            <li>
                <div class="acc-box">
                    <h4>提现</h4>
                    <p>2016-08-10</p>
                    <span class="acc-right-text">
									-20.00
							</span>
                </div>
            </li>
            <li>
                <div class="acc-box">
                    <h4>充值</h4>
                    <p>2016-08-10</p>
                    <span class="acc-right-text">
									<b>+20.00</b>
							</span>
                </div>
            </li>
        </ul>
    </div>
</section>
<include file="Public/footer" />
<script type="text/javascript" src="__PUBLIC__/Home/js/zepto.min.js"></script>
<script>
$(".mode-of-payment-row").click(function() {
    $(".mode-of-payment-row").find("i").removeClass("pitch-on")
    $(this).find("i").addClass("pitch-on")

})
</script>
</body>

</html>
