<include file='Public/header' />
<link rel="stylesheet" href="__PUBLIC__/Home/css/LArea.min.css" />
<form action="{:U('User/add_set_site')}" method="post" accept-charset="utf-8">
    <section>
        <div class="add-db-row">
            收件人：
            <input type="text" name="consignee" class="add-db-row-text" value="{$site['consignee']}" placeholder="输入收件人" />
        </div>
        <div class="add-db-row">
            手机号码：
            <input type="text" name="mobile" class="add-db-row-text" value="{$site['mobile']}" placeholder="输入手机" />
        </div>
        <div class="add-db-row">
            地址:
            <input id="site-1" name="ssq" type="text" readonly="" class="add-db-row-text" placeholder="选择地址" />
            <input id="siteval-1" type="hidden" value="" />
        </div>
        <div class="add-db-row" style="height: 2.5rem;">
            详细地址：
            <textarea name="address" class="add-db-row-text" style="height: 1.5rem;resize: none;" placeholder="请简单介绍一下您的宝物，字数40个以内">{$site['address']}</textarea>
        </div>
    </section>
<div style="padding: 0 0.3rem;margin-top: 0.5rem;">
    <a href="">
        <button type="submit" class="login-sub">保存</button>
    </a>
</div>
</form>

<include file="Public/footer" />
<script type="text/javascript" src="/Public/Home/js/zepto.min.js"></script>
<script type="text/javascript" src="/Public/Home/js/site/LAreaData1.js"></script>
<script type="text/javascript" src="/Public/Home/js/site/LArea.min.js"></script>
<script>
//地址
var area1 = new LArea();
area1.init({
    'trigger': '#site-1', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
    'valueTo': '#siteval-1', //选择完毕后id属性输出到该位置
    'keys': {
        id: 'name', //
        name: 'name'
    },
    'type': 1, //数据源类型
    'data': LAreaData //数据源
});
</script>
</body>

</html>
