<include file='Public/header' />
<section>
    <div class="add-db-row">
        公司名称：
        <input type="text" class="add-db-row-text" placeholder="请输入公司的全称" />
    </div>
    <div class="add-db-row">
        法人姓名：
        <input type="text" class="add-db-row-text" placeholder="请输入法人的真实名称" />
    </div>
    <div class="add-db-row">
        身份证号：
        <input type="text" class="add-db-row-text" placeholder="请输入法人的身份证号码" />
    </div>
    <div class="add-db-row" style="padding: 0.2rem 0.3rem;">
        经营资质：
        <div class="addiox">
            <div class="addfile-img" style="">
                <img src="__PUBLIC__/Home/img/addbut.png" class="addbut" />
                <input type="file" name="" id="" value="" onchange='PreviewImage(this,0)' />
                <div class="imgPreview"></div>
            </div>
            <p>营业执照</p>
        </div>
        <div class="addiox">
            <div class="addfile-img">
                <img src="__PUBLIC__/Home/img/addbut.png" class="addbut" />
                <input type="file" name="" id="" value="" onchange='PreviewImage(this,1)' />
                <div class="imgPreview"></div>
            </div>
            <p>代码证</p>
        </div>
        <div class="addiox">
            <div class="addfile-img">
                <img src="__PUBLIC__/Home/img/addbut.png" class="addbut" />
                <input type="file" name="" id="" value="" onchange='PreviewImage(this,2)' />
                <div class="imgPreview"></div>
            </div>
            <p>税务登记证</p>
        </div>
    </div>
    <div class="add-db-row" style="padding: 0.2rem 0.3rem;">
        身份证照：
        <div class="addiox">
            <div class="addfile-img" style="">
                <img src="__PUBLIC__/Home/img/addbut.png" class="addbut" />
                <input type="file" name="" id="" value="" onchange='PreviewImage(this,0)' />
                <div class="imgPreview"></div>
            </div>
            <p>身份证正面</p>
        </div>
        <div class="addiox">
            <div class="addfile-img">
                <img src="__PUBLIC__/Home/img/addbut.png" class="addbut" />
                <input type="file" name="" id="" value="" onchange='PreviewImage(this,1)' />
                <div class="imgPreview"></div>
            </div>
            <p>身份证反面</p>
        </div>
    </div>
    <div style="padding: 0 0.3rem;margin-top: 0.5rem;">
        <a href="apply_for_bury_succe.html">
            <button type="submit" class="login-sub">提 交</button>
        </a>
    </div>
</section>
<include file="Public/footer" />
<script type="text/javascript" src="/Public/Home/js/zepto.min.js"></script>
<script type="text/javascript" src="/Public/Home/js/uploadPictures.js"></script>
</body>

</html>
