<include file='Public/header' />
<section>
    <nav class="fig-nav">
        <ul class="clearfix">
            <li class="fig-nav-on"><a href="fight_bao_list.html">斗宝专区</a></li>
            <li><a href="treasure_ranking.html">宝物排行</a></li>
            <li><a href="user_ranking.html">宝主排行</a></li>
        </ul>
    </nav>
    <div class="hi-goods">
        <ul class="clearfix">
            <li>
                <a href="fight_bao_det.html">
                    <div>
                        <img src="__PUBLIC__/Home/img/goos.jpg" class="hi-goods-img" />
                    </div>
                    <h3>新疆和田籽料一级白双面工</h3>
                    <p><img src="__PUBLIC__/Home/img/shan.png" />当前票数：<span>122555</span></p>
                </a>
            </li>
            <li>
                <a href="fight_bao_det.html">
                    <div>
                        <img src="__PUBLIC__/Home/img/goos.jpg" class="hi-goods-img" />
                    </div>
                    <h3>新疆和田籽料一级白双面工</h3>
                    <p><img src="__PUBLIC__/Home/img/shan.png" />当前票数：<span>122555</span></p>
                </a>
            </li>
            <li>
                <a href="fight_bao_det">
                    <div>
                        <img src="__PUBLIC__/Home/img/goos.jpg" class="hi-goods-img" />
                    </div>
                    <h3>新疆和田籽料一级白双面工</h3>
                    <p><img src="__PUBLIC__/Home/img/shan.png" />当前票数：<span>122555</span></p>
                </a>
            </li>
        </ul>
    </div>
</section>
<include file="Public/footer" />
<script type="text/javascript" src="/Public/Home/js/zepto.min.js"></script>
</body>

</html>
