<include file='Public/header' />
<section>
    <div class="coll-box clearfix">
        <img src="__PUBLIC__/Home/img/goosd.jpg" />
        <div class="coll-box-text">
            <h3>新疆和田籽料一级白双面工艺</h3>
            <p><img src="__PUBLIC__/Home/img/shan.png" style="height: 0.4rem;width: 0.4rem;margin-right: 0.2rem;margin-top: 0.1rem;" />票数：<span>¥6000.00</span></p>
            <p>添加时间：2016-08-25 15:25:48</p>
            <div>
                <a href="">
                    <button class="coll-box-but">编辑</button>
                </a>
                <button class="coll-box-but2 db-delede">删除</button>
            </div>
        </div>
    </div>
    <div class="coll-box clearfix">
        <img src="__PUBLIC__/Home/img/goosd.jpg" />
        <div class="coll-box-text">
            <h3>新疆和田籽料一级白双面工艺</h3>
            <p><img src="__PUBLIC__/Home/img/shan.png" style="height: 0.4rem;width: 0.4rem;margin-right: 0.2rem;margin-top: 0.1rem;" />票数：<span>¥6000.00</span></p>
            <p>添加时间：2016-08-25 15:25:48</p>
            <div>
                <a href="">
                    <button class="coll-box-but">编辑</button>
                </a>
                <button class="coll-box-but2 db-delede">删除</button>
            </div>
        </div>
    </div>
    <div class="coll-box clearfix">
        <img src="__PUBLIC__/Home/img/goosd.jpg" />
        <div class="coll-box-text">
            <h3>新疆和田籽料一级白双面工艺</h3>
            <p><img src="__PUBLIC__/Home/img/shan.png" style="height: 0.4rem;width: 0.4rem;margin-right: 0.2rem;margin-top: 0.1rem;" />票数：<span>¥6000.00</span></p>
            <p>添加时间：2016-08-25 15:25:48</p>
            <div>
                <a href="">
                    <button class="coll-box-but">编辑</button>
                </a>
                <button class="coll-box-but2 db-delede">删除</button>
            </div>
        </div>
    </div>
</section>
<div style="padding: 0 0.3rem;margin-top: 0.5rem;">
    <a href="add_dou_bao.html">
        <button type="submit" class="login-sub">添加斗宝</button>
    </a>
</div>
<include file="Public/footer" />
<script type="text/javascript" src="/Public/Home/js/zepto.min.js"></script>
<script>
var clickEvent = {
    deledet: function() {
        $(".db-delede").click(function() {
            if (confirm('是否删除?')) {
                $(this).parent().parent().parent().remove();
            }
        })
    }
}
clickEvent.deledet();
</script>
</body>

</html>
