<include file='Public/header' />
<nav class="hi-nav">
    <ul class="clearfix">
        <li class="hi-nav-on"><a href="my_message_sys.html">系统消息</a></li>
        <li><a href="my_message_discuss.html">收到的评论</a></li>
    </ul>
</nav>
<section>
    <div class="sys-box">
        <div style="text-align: right;">
            <time>2016-02-16</time>
        </div>
        <p>您好，欢迎来到寻宝城，寻宝城是一个以学习古玩知识为主体的娱乐互动平台，包含鉴宝知识学习交流分享，趣味寻宝捡漏游戏，让广大藏友可以在这里找到更多乐趣。</p>
    </div>
    <div class="sys-box">
        <div style="text-align: right;">
            <time>2016-02-16</time>
        </div>
        <p>您好，欢迎来到寻宝城，寻宝城是一个以学习古玩知识为主体的娱乐互动平台，包含鉴宝知识学习交流分享，趣味寻宝捡漏游戏，让广大藏友可以在这里找到更多乐趣。</p>
    </div>
    <div class="sys-box">
        <div style="text-align: right;">
            <time>2016-02-16</time>
        </div>
        <p>您好，欢迎来到寻宝城，寻宝城是一个以学习古玩知识为主体的娱乐互动平台，包含鉴宝知识学习交流分享，趣味寻宝捡漏游戏，让广大藏友可以在这里找到更多乐趣。</p>
    </div>
</section>
<include file="Public/footer" />
<script type="text/javascript" src="/Public/Home/js/zepto.min.js"></script>
</body>

</html>
