<include file='Public/header' />
<nav class="hi-nav">
    <ul class="clearfix">
        <li><a href="my_message_sys.html">系统消息</a></li>
        <li class="hi-nav-on"><a href="my_message_discuss.html">收到的评论</a></li>
    </ul>
</nav>
<section>
    <table border="0" cellspacing="0" cellpadding="0" class="ran-tab3">
        <tr>
            <td class="ran-tab-td-1"><img src="__PUBLIC__/Home/img/useryoyx.png" style="border-radius: 50%;" /></td>
            <td class="ran-tab-td-2">
                <h3>天生无用</h3>
                <p class="fz">3分钟前</p>
                <div>
                    <p>这个东西好，肯定很值钱肯定很值钱肯定很值钱肯定很值钱</p>
                </div>
                <div class="huifu">
                    <p><span>草外敷：</span>大大大滴滴答答</p>
                </div>
            </td>
            <td class="ran-tab-td-3">
            </td>
        </tr>
        <tr>
            <td class="ran-tab-td-1"><img src="__PUBLIC__/Home/img/useryoyx.png" style="border-radius: 50%;" /></td>
            <td class="ran-tab-td-2">
                <h3>天生无用</h3>
                <p class="fz">3分钟前</p>
                <div>
                    <p>这个东西好，肯定很值钱肯定很值钱肯定很值钱肯定很值钱</p>
                </div>
                <div class="huifu">
                </div>
            </td>
            <td class="ran-tab-td-3">
            </td>
        </tr>
        <tr>
            <td class="ran-tab-td-1"><img src="__PUBLIC__/Home/img/useryoyx.png" style="border-radius: 50%;" /></td>
            <td class="ran-tab-td-2">
                <h3>天生无用</h3>
                <p class="fz">3分钟前</p>
                <div>
                    <p>这个东西好，肯定很值钱肯定很值钱肯定很值钱肯定很值钱</p>
                </div>
                <div class="huifu">
                </div>
            </td>
            <td class="ran-tab-td-3">
            </td>
        </tr>
    </table>
</section>
<include file="Public/footer" />
<script type="text/javascript" src="/Public/Home/js/zepto.min.js"></script>
</body>

</html>
