<include file='Public/header' />
<section>
    <div class="hi-goods">
        <ul class="clearfix">
            <li>
                <a href="obj">
                    <div>
                        <img src="__PUBLIC__/Home/img/goos.jpg" class="hi-goods-img" />
                    </div>
                    <h3>新疆和田籽料一级白双面工</h3>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <img src="__PUBLIC__/Home/img/goos.jpg" class="hi-goods-img" />
                    </div>
                    <h3>新疆和田籽料一级白双面工</h3>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <img src="__PUBLIC__/Home/img/goos.jpg" class="hi-goods-img" />
                    </div>
                    <h3>新疆和田籽料一级白双面工</h3>
                </a>
            </li>
        </ul>
    </div>
</section>
<include file="Public/footer" />
<script type="text/javascript" src="/Public/Home/js/zepto.min.js"></script>
<script>
</script>
</body>

</html>
