<include file='Public/header' />
<section class="login-main">
    <section class="bixs" style="margin-top: 0.2rem;">
        <form action="account_set.html">
            <ul class="logo-row clearfix">
                <li class="logo-row-li-1"><img src="__PUBLIC__/Home/img/shouji.png" /></li>
                <li class="logo-row-li-2">
                    <input type="text" name="" id="" readonly="readonly" class="login-text" value="133665***55555" />
                </li>
            </ul>
            <ul class="logo-row clearfix">
                <li class="logo-row-li-1"><img src="__PUBLIC__/Home/img/zs.png" /></li>
                <li class="logo-row-li-2">
                    <input type="text" name="" id="" value="" class="login-text" placeholder="请输入短信验证码" style="width: 4rem;" />
                    <button type="button" class="auth-code">获取验证码</button>
                </li>
            </ul>
            <ul class="logo-row clearfix">
                <li class="logo-row-li-1"><img src="__PUBLIC__/Home/img/pass.png" /></li>
                <li class="logo-row-li-2">
                    <input type="password" name="" id="" value="" class="login-text" placeholder="请输入密码" />
                </li>
            </ul>
            <ul class="logo-row clearfix">
                <li class="logo-row-li-1"><img src="__PUBLIC__/Home/img/pass.png" /></li>
                <li class="logo-row-li-2">
                    <input type="password" name="" id="" value="" class="login-text" placeholder="再次确认密码" />
                </li>
            </ul>
            <div class="login-box">
                <br>
                <button type="submit" class="login-sub">修 改</button>
            </div>
        </form>
    </section>
</section>
<include file="Public/footer" />
<script type="text/javascript" src="/Public/Home/js/zepto.min.js"></script>
<script>
securityCode();

function securityCode() { //验证码
    var yzm = $(".auth-code");
    var dt = true;
    var i = 10;
    yzm.click(function() {

        if (dt) {
            dt = false;
            yzm.text(i).attr("readonly", false)
            Codedi();
        }
    });

    function Codedi() {
        var setin = setInterval(function() {
            if (i > 0) {
                --i;
                yzm.text(i).attr("readonly", false)
            } else {
                clearInterval(setin);
                yzm.text("重新获取").attr("readonly", true);
                dt = true;
                i = 10;
            }

        }, 1000)
    }

}
</script>
</body>

</html>
