<include file="Public/header" />
<section class="login-main">
	<!--登录框start-->
	<section class="bixs" style="margin-top: 0.2rem;">
		<form action="{:U('Login/register')}" method="post">
			<ul class="logo-row clearfix">
				<li class="logo-row-li-1"><img src="__PUBLIC__/Home/img/shouji.png" /></li>
				<li class="logo-row-li-2">
					<input type="text" name="mobile" id="" value="" class="login-text" placeholder="请输入手机号码" />
				</li>
			</ul>
			<ul class="logo-row clearfix">
				<li class="logo-row-li-1"><img src="__PUBLIC__/Home/img/zs.png" /></li>
				<li class="logo-row-li-2">
					<input type="text" name="verfiy" id="" value="" class="login-text" placeholder="请输入短信验证码" style="width: 4rem;" />
					<button type="button" class="auth-code">获取验证码</button>
				</li>
			</ul>
			<ul class="logo-row clearfix">
				<li class="logo-row-li-1"><img src="__PUBLIC__/Home/img/pass.png" /></li>
				<li class="logo-row-li-2">
					<input type="password" name="secret" id="" value="" class="login-text" placeholder="请输入密码" />
				</li>
			</ul>
			<ul class="logo-row clearfix">
				<li class="logo-row-li-1"><img src="__PUBLIC__/Home/img/pass.png" /></li>
				<li class="logo-row-li-2">
					<input type="password" name="resecret" id="" value="" class="login-text" placeholder="再次确认密码" />
				</li>
			</ul>
			<div class="login-box">
				<div class="login-bottom">
					<input type="checkbox" name="service" id="ty" value="checked" checked />
					<label for="ty">我同意<a href="" style="color: #d82a23;">《达吉隆服务协议》</a></label>
					<span><a href="{:U('Login/login')}" >马上登录</a></span>
				</div>
				<button type="submit" class="login-sub">注 册</button>
			</div>
		</form>
	</section>
</section>
<include file="Public/footer" />
<script type="text/javascript" src="__PUBLIC__/Home/js/zepto.min.js"></script>
<script>
	var mobile;
	securityCode();

	function securityCode() { //验证码
		var yzm = $(".auth-code");
		var dt = true;
		var i = 10;
		var ks = true;
		yzm.click(function() {

			if(dt) {
				dt = false;
				yzm.text(i).attr("readonly", false);
				Codedi();
				verfiy();

			};

		});

		function verfiy() {
			var mobile = $('input').eq(0).val();
			$.post("{:U('Login/verfiy')}", {
				'mobile': mobile
			}, function(data, status) {
				// alert(data.sms_b);
				// return;
				if(status !== "success" || data.sms_b !== '0') {
					alert('短信发送失败');
					init();
					ks = false;
				} else {
					ks = true;
					
				};
				// alert(typeof data.sms_b)

			});
		}

		function Codedi() {
			var setin = setInterval(function() {
				if(i > 0) {
					if(ks) {
						--i;
						yzm.text(i).attr("readonly", false);
					} else {
						init(setin);
					}

				} else {
					init(setin);
				}

			}, 1000)
		}

		function init(setin) {
			clearInterval(setin);
			yzm.text("重新获取").attr("readonly", true);
			dt = true;
			i = 10;
		}
	}
</script>
</body>

</html>