<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>标题</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <script type="text/javascript" src="__PUBLIC__/Home/js/sethtml.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/css.css" />
</head>

<body>
    <header id="header">
        <a href="javascript:history.go(-1);" class="back-up"><img src="__PUBLIC__/Home/img/last.png" /></a>
        <img src="__PUBLIC__/Home/img/minlogo.png" class="min-logo" />
        <a href="{:U('Login/index')}" class="user"><img src="__PUBLIC__/Home/img/user.png" /></a>
    </header>
    <div style="height: 1.5rem;"></div>
