<include file="Public/header" />
<section class="nreasure">
    <div class="nreasure-img">
        <a href="treasure_hunt.html">
            <img src="__PUBLIC__/Home/img/zhuanqu-1.jpg" />
        </a>
        <a href="treasure_hunt.html">
            <img src="__PUBLIC__/Home/img/zhuanqu-2.jpg" />
        </a>
        <a href="">
            <img src="__PUBLIC__/Home/img/zhuanqu-3.jpg" />
        </a>
        <a href="">
            <img src="__PUBLIC__/Home/img/zhuanqu-4.jpg" />
        </a>
    </div>
</section>
<include file="Public/footer" />
</body>

</html>
