body,
h1,
h2,
h3,
h4,
h5,
div,
p,
section,
header,
footer,
ul,
li,
table {
  margin: 0;
  padding: 0;
}
body {
  font-size: 0.4em;
  font-family: "微软雅黑";
  color: #595757;
  max-width: 10rem;
  margin: auto;
  background: #eeeeee;
}
ul {
  list-style: none;
}
img {
  border-style: none;
}
a {
  text-decoration: none;
  color: #2c2c2c;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix {
  zoom: 1;
  *zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
input,
button,
textarea,
select {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.in-ba {
  height: 17.7rem;
  background: url(../images/back.jpg);
  background-size: 10rem 100%;
  position: relative;
}
.logo {
  text-align: center;
}
.logo img {
  width: 3.5rem;
  margin-top: 0.4rem;
}
.chao {
  text-align: center;
  margin-top: 1.2rem;
}
.chao img {
  width: 7rem;
}
.in-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10rem;
  height: 1.6rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.3rem 0;
}
.in-nav ul li {
  float: left;
  width: 20%;
  text-align: center;
}
.in-nav ul li a {
  color: #fff;
  font-size: 0.35rem;
  display: block;
}
.in-nav ul li img {
  height: 0.7rem;
}
.right-ba {
  position: absolute;
  right: 0;
  top: 2.77rem;
  width: 6.0rem;
}
.meta {
  position: absolute;
}
.meta a {
  color: #fff;
  font-size: 0.5rem;
}
.meta img {
  vertical-align: middle;
  width: 1.87rem;
  height: 1.87rem;
}
.meta-1 {
  top: 2.3rem;
  right: 2.1rem;
}
.meta-2 {
  top: 4rem;
  right: 4.2rem;
}
.meta-3 {
  top: 6.5rem;
  right: 5.2rem;
}
.meta-4 {
  top: 9.5rem;
  right: 4.5rem;
}
.meta-5 {
  top: 12rem;
  right: 2.8rem;
}
#header {
  height: 1.38rem;
  background: #030303;
  line-height: 1.38rem;
  text-align: center;
  position: relative;
}
#header .logo2 {
  width: 1.31rem;
  vertical-align: middle;
}
#header .ht {
  position: absolute;
  left: 0.2rem;
  top: 0;
  height: 1.38rem;
}
.meta-title ul li {
  float: left;
  width: 50%;
  text-align: center;
  background: #fff;
  height: 0.97rem;
  line-height: 0.97rem;
}
.meta-title ul li a {
  font-size: 0.44rem;
  display: block;
}
.meta-title ul .meta-title-on {
  border-bottom: 2px solid #316ceb;
}
.mes-box {
  padding: 0.3rem 0.2rem;
  background: #fff;
  border-top: 1px solid #b3b3b3;
  margin-top: 0.7rem;
}
.mes-box table td {
  padding: 0 0.2rem;
}
.mes-box table .mes-box-td-1 {
  width: 2.2rem;
  text-align: center;
}
.mes-box table .mes-box-td-1 .mes-ba {
  background: #eeeeee;
}
.mes-box table .mes-box-td-1 b {
  color: #85caff;
  font-size: 0.666rem;
}
.mes-box table .mes-box-td-1 div {
  font-size: 0.33rem;
  color: #a1a1a1;
}
.mes-box table .mes-box-td-2 {
  width: 7.2rem;
}
.mes-box table .mes-box-td-2 h4 {
  font-size: 0.38rem;
  font-weight: 100;
  color: #5f5f5f;
}
.mes-box table .mes-box-td-2 p {
  font-size: 0.35rem;
  color: #5f5f5f;
}
.mes-box table .mes-box-td-2 a {
  color: #316ceb;
  font-size: 0.38rem;
}
.vip-meta {
  padding: 0.2rem 0 0.4rem 0;
}
.vip-meta ul li {
  float: left;
  width: 3.3rem;
  margin-top: 0.2rem;
}
.vip-meta ul li a {
  display: block;
  width: 2.8rem;
  height: 1rem;
  background: #85caff;
  color: #fff;
  margin: auto;
  line-height: 1rem;
  border-radius: 0.2rem;
  text-align: center;
}
.vip-meta ul li .vip-meta-on {
  background: #316ceb;
}
.vip-text {
  padding: 0.5rem;
  background: #fff;
  line-height: 0.8rem;
  border-top: 1px solid #b3b3b3;
}
.vip-text span {
  color: #316ceb;
}
.us-meta {
  padding: 0.2rem 0 0.4rem 0;
}
.us-meta ul li {
  float: left;
  width: 2.5rem;
  margin-top: 0.2rem;
}
.us-meta ul li a {
  display: block;
  width: 2.2rem;
  height: 1rem;
  background: #85caff;
  color: #fff;
  margin: auto;
  line-height: 1rem;
  border-radius: 0.2rem;
  text-align: center;
}
.us-meta ul li .vip-meta-on {
  background: #316ceb;
}
.us-text {
  padding: 0.5rem;
  background: #fff;
  line-height: 0.8rem;
  border-top: 1px solid #b3b3b3;
}
.us-text p {
  text-indent: 2em;
}
.pri-title {
  color: #316ceb;
  text-align: center;
}
.pri-title span {
  color: #5f5f5f;
}
.pri-box {
  padding: 0.3rem 0.2rem;
  background: #fff;
}
.pri-box table td {
  padding: 0.4rem 0.2rem;
  vertical-align: top;
}
.pri-box table .mes-box-td-1 {
  width: 2.2rem;
  text-align: center;
}
.pri-box table .mes-box-td-1 .mes-ba {
  background: #eeeeee;
}
.pri-box table .mes-box-td-1 img {
  margin-top: 0.2rem;
  width: 1.61rem;
}
.pri-box table .mes-box-td-2 {
  width: 7.2rem;
  line-height: 0.6rem;
}
.pri-box table .mes-box-td-2 h4 {
  font-size: 0.38rem;
  font-weight: 100;
  color: #5f5f5f;
}
.pri-box table .mes-box-td-2 p {
  font-size: 0.35rem;
  color: #5f5f5f;
}
.pri-box table .mes-box-td-2 span {
  color: #316ceb;
  font-size: 0.4rem;
}
.new-det img {
  width: 100%;
  padding: 0.2rem 0;
}
.line-tab td {
  padding: 0.2rem;
  vertical-align: top;
}
.line-tab .line-tab-td-1 {
  width: 2.6rem;
  text-align: right;
}
.line-tab .line-tab-td-2 {
  width: 6.6rem;
}
.line-tab .line-tab-td-2 .line-text {
  width: 90%;
  background: #eee;
  height: 0.8rem;
  border: 1px solid #dcdcdc;
  padding: 0 0.2rem;
  border-radius: 0.1rem;
  font-size: 0.4rem;
}
.line-sub {
  display: block;
  width: 8rem;
  height: 1.2rem;
  background: #316ceb;
  color: #fff;
  border-radius: 0.2rem;
  font-size: 0.6rem;
  border: none;
  margin: 0.5rem auto;
}
/*# sourceMappingURL=css.css.map */
